.grecaptcha-badge {
    bottom: 0px !important;
}

#recaptcha_image img {
    width: 50px !important;
    height: 38px !important;
}

.small {
    font-size: 10px;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.header {
    text-align: center;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.hide {
    display: none;
}

.blue {
    color: blue !important;
}

.red {
    color: red !important;
}

.background-form {
    background-size: 363px;
    background-color: #e8e6e6ab !important;
    border-radius: 22px;
}

.transparent-background {
    background-color: transparent;
    border-color: transparent;
}

.bg1 {
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #586D7E;
    display: inline-block;
    background-position: top center;
}

.bg2 {
    background: url(bg2.jpg) 0px 0px no-repeat;
    background-size: 100%;
    background-position: top center;
}

.avatar {
    background-image: url(user.png);
    background-repeat: no-repeat;
    background-size: 80%;
    display: inline-block;
    background-position: center;
}

.background-login,
.background-changepass {
    background: url(login.png) 0px 0px no-repeat;
    background-size: 300px;
}

.background-changepass {
    background-color: #66666636 !important;
    border-radius: 22px;
}

.toolbar_fpt {
    background: url(banner.jpg) 0px 0px no-repeat !important;
    background-color: rgb(200, 228, 250) !important;
    background-size: cover !important;
}
.toolbar_lg {
    background: url(banner_lg.png) 0px 0px no-repeat !important;
    background-color: rgb(200, 228, 250) !important;
    background-size: cover !important;
}
.toolbar_lg_en {
    background: url(banner_lg_en.png) 0px 0px no-repeat !important;
    background-color: rgb(200, 228, 250) !important;
    background-size: cover !important;
}
.text_lg {
}
.webix_dangerlg .webix_button {
    background: #AF0030 !important;
    color: #AF0030 !important;
    border: 1px solid #AF0030 !important;
    border-bottom: 1px solid #AF0030 !important;
}
.webix_dangerlg .webix_button:hover {
    background-color: #AF0030 !important;
}

.webix_dangerlg .webix_button:focus {
    background-color: #AF0030 !important;
}

.webix_dangerlg .webix_button:active {
    background-color: #AF0030 !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.webix_dangerlg .webix_button:hover {
    background-color: #AF0030 !important;
}

.logo_toolbar_fpt {
    background: url(logo.png) 0px 0px no-repeat !important;
    background-color: transparent !important;
    margin: 0px !important;
}

.image_home {
    background: url(image_home.png) 300px 0px no-repeat !important;
    background-position: center;
    text-align: center !important;
    background-color: transparent !important;
    margin: 0px !important;
}

.btn_home {
    box-sizing: border-box !important;
}

.btn_home:hover {
    background-color: #16b14b;
}

.btn_home:hover>.webix_disabled_box {
    background-color: transparent;
}

.btn_home1,
.btn_home2,
.btn_home3,
.btn_home4,
.btn_home5,
.btn_home6 {
    background-repeat: no-repeat;
    background-size: 45%;
    display: inline-block;
    background-position: top center;
    background-color: #0a67b2;
    border-radius: 5px;
}

.btn_home1 {
    background-image: url(btn1.png);
}

.btn_home2 {
    background-image: url(btn2.png);
}

.btn_home3 {
    background-image: url(btn3.png);
}

.btn_home4 {
    background-image: url(btn4.png);
}

.btn_home5 {
    background-image: url(btn5.png);
}

.btn_home6 {
    background-image: url(btn6.png);
}

.webix_view .webix_form {
    background-color: transparent;
    border-color: transparent;
}

.button_toggle_menu {
    background-color: white !important;
    text-shadow: 0px 2px 5px black !important;
    font-weight: bold !important;
}

.button_toggle_menu>*:active {
    top: 1px !important;
}

.webix_inp_label {
    color: black !important;
}

.align_middle {
    vertical-align: middle !important;
}

.webix_el_combo span.webix_input_icon,
.webix_el_richselect span.webix_input_icon,
.webix_el_datepicker span.webix_input_icon,
.webix_el_colorpicker span.webix_input_icon,
.webix_el_dbldatepicker span.webix_input_icon {
    color: #0a67b2 !important;
}

.user_info_toolbar {
    vertical-align: middle !important;
    text-align: center;
    height: 12px !important;
}

.label_user_info_toolbar {
    height: 12px !important;
    margin-right: 5px;
}

.user_info_block div {
    text-align: center !important;
}

.user_info_block {
    vertical-align: middle !important;
    background-color: #78c9ff2b !important;
}

.mdi:before,
.mdi-set {
    font-size: 18px !important;
    vertical-align: middle !important;
}

.webix_sidebar .webix_tree_branch_2 .webix_tree_item {
    padding-left: 10px;
}

.label_homepage {
    color: #ffffff !important;
    font-size: 15px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.webix_fieldset_label {
    text-align: center;
}

.button {
    cursor: pointer;
}

.webix_view.webix_window.webix_popup {
    width: auto !important;
}

.webix_view.webix_list {
    width: auto !important;
}

.webix_list_item {
    width: auto !important;
}

.webix_win_body {
    width: auto !important;
}

.webix_point_top,
.webix_point_right {
    display: none;
}

.background-form {
    background-size: 363px;
    background-color: #e8e6e6ab !important;
    border-radius: 22px;
}

.webix_view .webix_item_tab:focus,
.webix_view .webix_cal_next_button:focus,
.webix_view .webix_cal_prev_button:focus {
    outline-style: none;
}

.webix_icon,
.mdi,
.webix_input_icon {
    cursor: pointer;
}

.webix_view .webix_sidebar_popup_title:hover,
.webix_inp_label:hover,
.webix_cal_day_inner:hover {
    color: #f06e28 !important;
    transition: 0.2s;
}

.webix_list_item:hover {
    color: #f06e28 !important;
    transition: 0.2s;
}

.webix_list_item.webix_selected:hover {
    color: #fdfdfd !important;
}

.header1>div {
    font-size: 20px !important;
    font-weight: bold;
}

.text_on_toolbar {
    margin-left: 2px !important;
    text-shadow: -1px 2px 4px #000000;
}

.webix_view.webix_sidebar_popup_title.webix_selected {
    color: #FFFFFF !important;
}

.webix_fieldset>fieldset {
    border-top: 1px solid #DDDDDD;
    border-left: 0px solid #DDDDDD;
    border-right: 0px solid #DDDDDD;
    border-bottom: 0px solid #DDDDDD;
    margin: 0px;
    padding: 5px 8px;
}

.webix_input_icon:active {
    top: 5px !important;
}

.homeBox {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #DDDDDD !important;
}

.homeBoxRow1>* {
    color: #0A67B2;
    font-size: 1.2rem !important;
    margin-right: 10px;
}

.homeBoxFooter>* {
    color: #0A67B2;
    margin-right: 5px;
}

.background-login a {
    color: white;
}

.webix_layout_toolbar.webix_toolbar .webix_icon_button .webix_icon {
    color: rgb(240, 110, 40) !important;
}

.webix_inp_top_label:hover,
.webix_inp_label:hover {
    color: #f27024;
}

.webix_view,
.webix_layout_line,
.webixapp {
    font-size: 12px;
    color: black;
}

.webix_sidebar {
    background-color: #eeeeee;
    font-size: 13px !important;
}

.webix_tree_item:hover {
    color: #f27024;
}

.webix_tree_item {
    font-weight: bold;
    height: 40px;
}

.webix_tree_branch_2 {
    font-weight: normal;
    height: 40px;
}

.webix_el_richselect .webix_inp_static,
.webix_el_datepicker .webix_inp_static,
.webix_el_colorpicker .webix_inp_static,
.webix_el_dbldatepicker .webix_inp_static {
    border-radius: 3px !important;
}

.webix_dtable .webix_ss_filter select,
.webix_dtable .webix_ss_filter input {
    border-radius: 3px !important;
    height: 25px !important;
}

.webix_el_button input,
.webix_el_toggle input,
.webix_el_button button,
.webix_el_toggle button,
.webixbutton {
    border-radius: 3px;
    border-color: #16B14B;
}

.webix_el_text input,
.webix_el_search input,
.webix_el_combo input,
.webix_el_datepicker input,
.webix_el_colorpicker input {
    width: auto;
    border-radius: 3px;
}

.webix_el_text input,
.webix_el_search input,
.webix_el_combo input,
.webix_el_datepicker input,
.webix_el_colorpicker input {
    font-size: 13px !important;
}

.webix_el_combo span.webix_input_icon,
.webix_el_richselect span.webix_input_icon,
.webix_el_datepicker span.webix_input_icon,
.webix_el_colorpicker span.webix_input_icon,
.webix_el_dbldatepicker span.webix_input_icon {
    background-color: #0a67b2;
}

.webixtype_base,
.webixtype_prev,
.webixtype_next,
.webixbutton {
    background-color: #16B14B;
}

.webix_el_button,
.webixtype_base {
    font-weight: bold;
}

.webix_inp_label,
.webix_inp_top_label,
.webix_label_right,
.webix_img_btn_abs {
    color: black;
    font-size: 13px !important;
}

.webix_inp_label,
.webix_inp_top_label,
.webix_label_right {
    text-align: right !important;
}

.webix_inp_top_label {
    text-align: left !important;
}

.webix_icon_btn {
    margin: 0px !important;
}

.webix_el_box {
    vertical-align: middle !important;
}

.webix_icon {
    align-items: center;
    justify-items: center;
    font-size: 13px !important;
}

.webix_icon:active {
    transform: scale(0.9)
}

span>a {
    color: white !important;
}

.mce-branding>a {
    color: #666 !important;
}

a {
    color: black !important;
}

a:hover,
a:active {
    color: #f27024 !important;
}

.webix_input_icon {
    font-size: 17px !important;
    background-color: transparent !important;
}

.text_black {
    color: rgb(250, 250, 250) !important;
}

.toolbar_window {
    background: #0a67b2 !important;
    color: white;
}

.webix_view .webix_pager_item,
.webix_view .webix_pager_item_selected {
    vertical-align: middle !important;
    background-color: transparent !important;
}

.webix_view .webix_pager_item,
.webix_view .webix_pager_item_selected {
    vertical-align: middle !important;
    background-color: transparent !important;
    color: black;
}

.webix_view>.webix_disabled {
    background-color: #ccc !important;
}

.webix_disabled {
    background-color: #959595c9 !important;
}

.webix_el_button.webix_secondary button,
.webix_el_toggle.webix_secondary button {
    border: solid 0px black;
    background-color: #16B14B;
}

.webix_el_box>.webix_img_btn:focus {
    background-color: #16B14B !important;
    border-color: #16B14B !important;
}

.webix_el_box>.webix_img_btn:hover {
    background-color: #28a754 !important;
    border-color: #28a754 !important;
}

.webix_el_box>.webix_img_btn:active {
    background-color: #108438 !important;
    border-color: #108438 !important;
}

.webix_view .webix_control .webix_el_button .webix_secondary .webix_disabled_view {
    background-color: #ddd !important;
}

.webix_sidebar .webix_tree_item.webix_selected,
.webix_sidebar .webix_tree_item.webix_selected span {
    background-color: #F06E28;
}

.webix_menu.webix_view .webix_list_item.webix_selected {
    background: #F06E28;
}

.webix_selected {
    background: #F06E28 !important;
    border-color: #F06E28 !important;
}

.webix_after_all_tabs {
    background: #F06E28 !important;
}

.webix_column>div.webix_cell_select,
.webix_column>div.webix_column_select,
.webix_column>div.webix_row_select {
    background: #F06E28 !important;
}

.webix_dtable_focused .webix_column>div.webix_row_select,
.webix_dtable_focused .webix_column>div.webix_column_select {
    background: #F06E28 !important;
}

.webix_layout_toolbar.webix_toolbar {
    background-color: #042848 !important;
}

.webix_img_btn_top {
    padding: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}

.webix_img_btn_top:hover {
    background-color: transparent !important;
    opacity: 1;
}

.mdi {
    vertical-align: middle !important;
    margin-bottom: 3px !important;
    align-items: center;
    justify-items: center;
}

.mdi:active {
    font-size: 15px !important;
}

.webix_alert-warning .webix_popup_title,
.webix_confirm-warning .webix_popup_title,
.webix_alert-warning .webix_popup_text,
.webix_confirm-warning .webix_popup_text {
    box-shadow: inset 0 4px #0a52a0 !important;
}

.webix_popup_button {
    border: solid 1px #d86324 !important;
    background-color: #d86324 !important;
}

.webix_popup_button.confirm {
    border: solid 1px #50b946 !important;
    background-color: #50b946 !important;
}

.webix_message.webix_info {
    text-align: center !important;
    color: black !important;
}

.webix_message.webix_error {
    text-align: center !important;
    background-color: #d81b1b !important;
    border-color: #860909 !important;
    color: white !important;
}

.webix_message.webix_success {
    text-align: center !important;
    background-color: #f06e28 !important;
    border-color: #c05319 !important;
    color: white !important;
}

.webix_message.webix_debug {
    text-align: center !important;
    background-color: #fff6d1 !important;
    border-color: #ffe05f !important;
    color: rgb(14, 14, 14) !important;
}

.webix_view .webix_item_tab:focus,
.webix_view .webix_cal_next_button:focus,
.webix_view .webix_cal_prev_button:focus {
    outline-style: none;
}

.webix_view.webix_control.btn_homepage>.webix_disabled {
    opacity: 0.9;
    border: 0px solid black !important;
}

.gnsView .webix_ss_body .webix_ss_center .webix_ss_center_scroll .webix_column {
    text-align: center;
}

.webix_axis_item_y,
.webix_axis_item_x {
    color: black;
}

.bold {
    white-space: normal;
    word-wrap: break-word;
    font-weight: bold;
}

.webix_all_tabs.webixtype_bottom {
    height: 30px !important;
    background-color: #0c4c99 !important;
}

.webix_segment_0,
.webix_segment_1,
.webix_segment_N {
    border: solid 1px #f06e28;
}

.webix_layout_toolbar .webix_inp_counter_next,
.webix_layout_toolbar .webix_inp_counter_prev,
.webix_layout_toolbar .webix_segment_0,
.webix_layout_toolbar .webix_segment_1,
.webix_layout_toolbar .webix_segment_N {
    border-color: #FFFFFFFF !important;
}

.webix_inp_counter_next:active,
.webix_inp_counter_prev:active,
.webix_segment_0:active,
.webix_segment_1:active,
.webix_segment_N:active {
    background-color: #001937;
}

.webix_inp_counter_next:hover,
.webix_inp_counter_prev:hover,
.webix_segment_0:hover,
.webix_segment_1:hover,
.webix_segment_N:hover,
.webix_inp_counter_next:focus,
.webix_inp_counter_prev:focus,
.webix_segment_0:focus,
.webix_segment_1:focus,
.webix_segment_N:focus {
    background-color: #033a7d;
}

.webix_all_segments .webix_segment_1,
.webix_all_segments .webix_segment_N {
    margin-left: 0px;
}

.webix_canvas_text.webix_axis_item_x {
    margin-top: 13px;
    transform: rotate(150deg) scale(-1);
    transition: transform 0.5s;
    font-size: 10px;
    font-weight: bold;
    z-index: 120;
}

.webix_el_search input:focus,
.webix_el_text input:focus,
.webix_el_combo input:focus,
.webix_el_colorpicker input:focus,
.webix_el_datepicker input:focus {
    box-shadow: 0 0 0px #0c4c99 inset;
}

button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color
}

.webix_cal_day:hover {
    background-color: #f9f7f7;
    display: inline !important;
}

.webix_segment_0,
.webix_segment_1,
.webix_segment_N {
    border: solid 1px #0c4c99;
}

.webix_layout_toolbar {
    color: #fff;
    font-size: 12px;
    background: #0c4c99;
}

.webix_layout_toolbar .webix_el_button,
.webix_layout_toolbar .webix_el_label,
.webix_layout_toolbar .webix_inp_label {
    color: #fff;
}

.webix_layout_toolbar .webix_el_label .webix_el_box {
    font-size: 12px;
}

.webix_layout_toolbar .webix_secondary button {
    border-color: #fff;
}

.webix_layout_toolbar .webix_transparent .webix_icon,
.webix_layout_toolbar .webix_transparent .webix_img_btn_text,
.webix_layout_toolbar .webix_transparent .webix_icon_btn,
.webix_layout_toolbar .webix_transparent button {
    color: #fff;
}

.webix_layout_toolbar .webix_transparent .webix_disabled_box button,
.webix_layout_toolbar .webix_transparent .webix_disabled_box .webix_img_btn_text {
    color: #aaa;
}

.webix_layout_toolbar .webix_inp_counter_next,
.webix_layout_toolbar .webix_inp_counter_prev,
.webix_layout_toolbar .webix_segment_0,
.webix_layout_toolbar .webix_segment_1,
.webix_layout_toolbar .webix_segment_N {
    border-color: #f06e28 !important;
    background-color: transparent;
    color: #fff;
}

.webix_layout_toolbar .webix_inp_counter_next:hover,
.webix_layout_toolbar .webix_inp_counter_prev:hover,
.webix_layout_toolbar .webix_segment_0:hover,
.webix_layout_toolbar .webix_segment_1:hover,
.webix_layout_toolbar .webix_segment_N:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
}

.webix_layout_toolbar .webix_inp_counter_next:focus,
.webix_layout_toolbar .webix_inp_counter_prev:focus,
.webix_layout_toolbar .webix_segment_0:focus,
.webix_layout_toolbar .webix_segment_1:focus,
.webix_layout_toolbar .webix_segment_N:focus {
    background-color: rgba(0, 0, 0, 0.07);
    color: #fff;
}

.webix_layout_toolbar .webix_inp_counter_next:active,
.webix_layout_toolbar .webix_inp_counter_prev:active,
.webix_layout_toolbar .webix_segment_0:active,
.webix_layout_toolbar .webix_segment_1:active,
.webix_layout_toolbar .webix_segment_N:active {
    background-color: rgba(0, 0, 0, 0.07);
    color: #fff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.webix_layout_toolbar .webix_inp_static,
.webix_layout_toolbar input[type=text] {
    border-color: #fff;
}

.webix_layout_toolbar .webix_inp_static:focus,
.webix_layout_toolbar input[type=text]:focus {
    border-color: #fff;
    box-shadow: none;
}

.webix_layout_toolbar .webix_input_icon {
    border-color: #d9d9d9;
    background-color: transparent;
    color: #fff;
    color: #666666;
}

.webix_layout_toolbar .webix_input_icon:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #666666;
}

.webix_layout_toolbar .webix_input_icon:active,
.webix_layout_toolbar .webix_input_icon:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #666666;
}

.webix_layout_toolbar .webix_selected.webix_segment_0,
.webix_layout_toolbar .webix_selected.webix_segment_1,
.webix_layout_toolbar .webix_selected.webix_segment_N {
    border-color: #d9d9d9;
    background-color: #27ae60;
    color: #FFFFFF;
}

.webix_layout_toolbar .webix_selected.webix_segment_0:hover,
.webix_layout_toolbar .webix_selected.webix_segment_1:hover,
.webix_layout_toolbar .webix_selected.webix_segment_N:hover {
    background-color: #24a259;
}

.webix_layout_toolbar .webix_selected.webix_segment_0:focus,
.webix_layout_toolbar .webix_selected.webix_segment_1:focus,
.webix_layout_toolbar .webix_selected.webix_segment_N:focus {
    background-color: #229955;
}

.webix_layout_toolbar .webix_selected.webix_segment_0:active,
.webix_layout_toolbar .webix_selected.webix_segment_1:active,
.webix_layout_toolbar .webix_selected.webix_segment_N:active {
    background-color: #229955;
}

.webix_layout_toolbar .webix_segment_1,
.webix_layout_toolbar .webix_segment_N,
.webix_layout_toolbar .webix_selected.webix_segment_1,
.webix_layout_toolbar .webix_selected.webix_segment_N {
    margin-left: 0;
    border-left: none;
}

.webix_layout_toolbar .webix_el_icon .webix_el_box {
    border-radius: 3px;
}

.webix_layout_toolbar .webix_el_icon .webix_el_box:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.webix_layout_toolbar .webix_el_icon .webix_el_box:focus {
    background-color: rgba(0, 0, 0, 0.07);
}

.webix_layout_toolbar .webix_control {
    border-color: #0c4c99;
}

.webix_layout_toolbar .webix_icon_button .webix_icon {
    color: #fff;
}

.webix_el_button.webix_danger button:hover,
.webix_el_toggle.webix_danger button:hover {
    background-color: #ca2611 !important;
    border: 1px solid #ca2611 !important;
}

.webix_el_button.webix_danger button:focus,
.webix_el_toggle.webix_danger button:focus {
    background-color: #e72a12 !important;
    border: 1px solid #e72a12 !important;
}

.webix_el_button.webix_danger button:active,
.webix_el_toggle.webix_danger button:active {
    background-color: rgb(121, 30, 18) !important;
    border: 1px solid rgb(121, 30, 18) !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.webix_el_button.webix_danger button .webix_icon,
.webix_el_toggle.webix_danger button .webix_icon,
.webix_el_button.webix_danger button .webix_img_btn_text,
.webix_el_toggle.webix_danger button .webix_img_btn_text,
.webix_el_button.webix_danger button .webix_icon_btn,
.webix_el_toggle.webix_danger button .webix_icon_btn {
    color: #ffffff;
}

.webix_el_button.webix_danger .webix_pressed button,
.webix_el_toggle.webix_danger .webix_pressed button {
    background-color: #c14433;
}
.webix_pager_item {
    border: 0px solid black !important;
}
.webix_view .webix_pager_item_selected {
    font-family: Arial;
    font-size: 13px !important;
    color: #fff;
    padding: auto 1px;
    outline: none;
    background: #27ae60;
    color: rgb(3, 3, 3);
    border: 1.5px solid #ef6c34;
}

.webix_danger .webix_button {
    background: #e72a12;
    color: #ffffff;
    border: 1px solid #e72a12;
    border-bottom: 1px solid #ca2611;
}

.webix_danger .webix_button:hover {
    background-color: #ca2611;
}

.webix_danger .webix_button:focus {
    background-color: #c14433;
}

.webix_danger .webix_button:active {
    background-color: #c14433;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.choso {
    color: red;
}

.choduyet {
    color: orange;
}

.daduyet {
    color: blue;
}

.dahuy {
    color: indigo;
}

.tongso {
    color: purple;
}

.bgchoso {
    background-color: red;
}

.bgchoduyet {
    background-color: orange;
}

.bgdaduyet {
    background-color: blue;
}

.bgdahuy {
    background-color: indigo;
}

.bgtongso {
    background-color: purple;
}

.bgtotal {
    background-color: #36abee;
}

.bgvat {
    background-color: #a7ee70;
}

.webix_window,
.webix_win_content,
.webix_win_body,
.webix_win_body>.webix_view {
    border-radius: 3px;
}

.webix_cell{
    line-height: 20px;
    white-space: pre-wrap;
}
.btnExitINV.webix_el_button.webix_secondary button{
    background-color: #d86324 !important;
}