.cr-body {
    background-repeat: no-repeat;
    background-image: url('./image/sgr/bg.png');
    background-size: cover !important;
}

.toolbar_sgr {
    background-repeat: no-repeat;
    background-image: url('./image/sgr/baner.png');
    background-size: cover !important;
}
 .webix_el_button.webix_secondary button, .webix_el_toggle.webix_secondary button {
    
        background-color:  #fdb913;
      
        background-repeat: no-repeat;
        background-size: cover !important;
}
.toolbar_sgr .fleft button {
    
    background-image: url('./image/sgr/bt.png') !important;
  
    background-repeat: no-repeat;
    background-size: cover !important;
}
.login-searchs{
    background-repeat: no-repeat;
    background-image: url('./image/sgr/login.png');
    background-size: cover !important;
    border-radius: 24px;
}