
.login_style{
    background-repeat: no-repeat;
    background-image: url('./image/sgr/login.png');
    background-size: cover !important;
    border-radius: 28px;
    opacity: 1.9;
}
.background-login-sgr {
    background-repeat: no-repeat;
    background-image: url('./image/sgr/bgs.png');
    background-size: cover !important;
}
.login_style .btlogin button {
    
    background-color:  #fdb913 !important;
}